body {
  text-align: center;
  background-color: rgba(112, 76, 182, 0.1);
}

.habit-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.habit-info {
  border-right: 5px black solid;
  width: 20vw;
  height: 20vh;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
}


.habit-days {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.5em;
  align-items: center;
  width: 70vw;
  height: 20vh; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: .8em;
  padding-left: 12px;
  padding-right: 12px;
}

.habit-info button {
  appearance: none;
  background: none;
  font-size: .8em;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}
